.li{
    margin-left: 30px;
}
.title:hover{
    background-color: #727170;
    width: 80px;
    border-radius: 12px;
}
.navbar.scrolled {
    background: rgb(0,0,0);
    transition: background 500ms
}
.navbar-brand{
    size: 4em;
}

