<nav class="navbar navbar-expand-lg py-0 navbar-light fixed-top" id="mainNavbar">
    <div class="container-fluid"><a class="navbar-brand name" href="#">Flake <span class="go">E-Commerce</span></a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <a class="nav-item nav-link active navli title" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link navli title" [routerLink]="['product']">Product</a>
              
              
                
            </ul>
            
        </div>
    </div>
</nav>
<script>
  function scroll() {
      document.scroll(function() {
          nav = "#mainNavbar";
          nav.toggleClass("scrolled", this.scrollTop() > nav.height());
      });
  }
</script>